.yellow{
  background-color: yellow;
}
.yellow:hover{
  background-color: lighten(yellow,20%);
}
.black{
  background-color: black;
}
.black:hover{
  background-color: lighten(black,20%);
}
.red{
  background-color: red;
}
.red:hover{
  background-color: lighten(red,20%);
}
.green{
  background-color: green;
}
.green:hover{
  background-color: lighten(green,20%);
}


